@model IEnumerable<MusicStore.Models.Cart>

@{
    ViewBag.Title = "Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal CartTotal = 0;
}
<h2>Your Cart</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        // update cart Total
        CartTotal += item.Count * item.Album.Price;
        <tr>
            <td>
                <a href="/Albums/Details/@item.AlbumId">
                    @Html.DisplayFor(modelItem => item.Album.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @String.Format("{0:c}", item.Album.Price)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveFromCart", new { RecordId = item.RecordId }, new { @class = "text-danger" })
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td>
            <a href="/Store">
                <button class="btn btn-primary"><< Keep Shopping</button>
            </a>
        </td>
        <td>
            @String.Format("{0:c}", CartTotal)
        </td>
        <td>
            <a href="/Store/Checkout">
                <button class="btn btn-primary">Checkout >></button>
            </a>
        </td>
    </tr>
</table>